.list {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    width: 100vh;
}

.listItem {
    list-style: none;
    padding: 0;
    margin: 0;

    width: 10%;
    height: 0;
    display: block;
    padding-bottom: 10%;
}